/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.error {
    background-color: red;
    color: white;
}

.success {
    background-color: green;
    color: white;
}

.error button {
    background-color:orangered;
    color: white;
}
